@font-face {
    font-family: "Noto Serif JP";
    src: url("/fonts/NotoSerifJP-Regular.otf") format("opentype");
}

/*************************
Global Styling
**************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: "Noto Serif JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "ヒラギノ角ゴ Pro W3", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    font-display: swap;
    font-size: 16px;

    --foreground: #373D3F;
    /*--background: #F2F3F4;*/
    --background: white;

    /* 瑠璃色 */
    --reading: #1F4788;
    /* 藤紫 */
    --wantToRead: #875F9A;
    /* 青竹色 */
    --finished: #006442;
    /* 藤黄 */
    --onHold: #FFB61E;
    /* 赤紅 */
    --dropped: #C3272B;

    color: var(--foreground);
    background-color: var(--background);
    text-rendering: optimizeLegibility;
}

html {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    margin: 0;
}

/* 
    Avoid Text Overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    1. Remove the bottom border in Chrome 57-
    2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    /* 1 */
    border-bottom: none;
    /* 2 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
}

/*
    Hide anchor tags with no href
    This is used for Prev/Next chapter buttons in the reader
*/
a:not([href]) {
    display: none;
}

textarea {
    resize: none;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

details summary {
    cursor: pointer;
}

/*************************
Novel Library Styling
**************************/
.downloadSearchBar {
    display: block;
    max-width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    height: 4rem;
}

#novelUrl {
    height: 100%;
    width: 100%;
    font-size: 3rem;
    float: left;
    border: none;
    border-radius: 0.7rem;
    box-shadow:
        0.5px 0.4px 3.6px rgba(0, 0, 0, 0.05),
        1.2px 1px 8.2px rgba(0, 0, 0, 0.038),
        2px 1.7px 14.2px rgba(0, 0, 0, 0.033),
        3.3px 2.6px 22.5px rgba(0, 0, 0, 0.029),
        5px 4.1px 34.8px rgba(0, 0, 0, 0.025),
        7.8px 6.3px 54.3px rgba(0, 0, 0, 0.021),
        13px 10.5px 90.1px rgba(0, 0, 0, 0.017),
        26px 21px 180px rgba(0, 0, 0, 0.012);
}

#novelUrl::placeholder {
    color: #9e9d9d;
}

.novelPanel {
    padding: 0.5rem;
    border-bottom: 1px solid var(--foreground)
}

.novelPanel a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.novelPanel a:hover {
    text-decoration: underline;
}

.novelPanel div {
    text-align: center;
}

.novelPanelTitle {
    font-size: 2.5rem;
    white-space: pre-line;
    -webkit-font-smoothing: antialiased;
}

.novelPanelDescription {
    margin: 0;
    margin-top: auto;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: left !important;
    white-space: pre-line;
    -webkit-font-smoothing: antialiased;
    line-height: 180%;
}

.novelPanelDescription summary::marker {
    content: "";
}

.novelPanelDescription i {
    margin: auto;
}

.reading {
    color: var(--reading)
}

.wanttoread {
    color: var(--wantToRead)
}

.finished {
    color: var(--finished)
}

.onhold {
    color: var(--onHold)
}

.dropped {
    color: var(--dropped)
}

/*************************
Novel Info Styling
**************************/
.description {
    /* render newlines */
    white-space: pre-line;
    width: 100%;
    font-size: 1.5rem;
    max-width: max(45ch, 60%);
    margin: 4rem auto;
    line-height: 180%;
    -webkit-font-smoothing: antialiased;
}

.chapters {
    font-size: 1.5rem;
    width: max(45ch, 60%);
}

.userControls label {
    display: block;
    text-align: center;
}

.categories {
    text-align: center;
    margin-top: 2rem;
}

.categories label {
    display: block;
}

#novelCategory {
    font-size: 1.5rem;
    text-align: center;
}

.ratingWrapper {
    text-align: center;
}

.rating {
    display: inline-block;
}

.rating * {
    float: right;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
}

.rating input:checked~label {
    color: var(--onHold);
}

.rating input:enabled+label:hover,
.rating input:enabled+label:hover~label,
.rating input:enabled+label:focus,
.rating input:enabled+label:focus~label {
    color: var(--onHold);
    cursor: pointer;
}

.novelReview {
    text-align: center;
}

#novelReviewInput {
    width: 30rem;
    height: 8rem;
}

#submitNovelReviewButton {
    display: block;
}

/*************************
Reader Styling
**************************/
:lang(ja) main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vw;
    margin: auto;
}

.chapterNumber {
    font-size: 6rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.chapterTitle {
    display: none;
    margin: 0;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
}

.chapter {
    /* render newlines */
    white-space: pre-line;
    width: 100%;
    max-width: 45ch;
    font-size: 2rem;
    line-height: 180%;
    -webkit-font-smoothing: antialiased;
}

.chapter p {
    margin: 0;
}

.chapterControls {
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

footer {
    position: fixed;
    height: 2rem;
    bottom: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    z-index: 1000;
}

footer span {
    background-color: var(--background);
}