@font-face {
    font-family: "Noto Serif JP";
    src: url("/fonts/NotoSerifJP-Regular.otf") format("opentype");
}

@font-face {
    font-family: "BIZ UDMincho";
    src: url("/fonts/BIZUDMincho-Regular.ttf") format("truetype");
}

/*************************
Global Styling
**************************/
:root {
    font-family: "Noto Serif JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "ヒラギノ角ゴ Pro W3", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    font-display: swap;

    --foreground: #373D3F;
    --background: #F2F3F4;

    color: var(--foreground);
    background-color: var(--background);
}

html {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    margin: 0;
}

/* 
    Avoid Text Overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    1. Remove the bottom border in Chrome 57-
    2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    /* 1 */
    border-bottom: none;
    /* 2 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
}

/*
    Hide anchor tags with no href
    This is used for Prev/Next chapter buttons in the reader
*/
a:not([href]) {
    display: none;
}

/*************************
Novel Info Styling
**************************/
.description {
    /* render newlines */
    white-space: pre-line;
    width: 100%;
    font-size: 1.5rem;
    max-width: max(45ch, 60%);
    margin: 4rem auto;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
}

.chapters {
    font-size: 1.5rem;
    width: max(45ch, 60%);
}

/*************************
Reader Styling
**************************/
:lang(ja) main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vw;
    margin: auto;
}

.chapterNumber {
    font-size: 6rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.chapterTitle {
    display: none;
    margin: 0;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
}

.chapter {
    /* render newlines */
    white-space: pre-line;
    width: 100%;
    max-width: 45ch;
    font-size: 2rem;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
}

.chapter p {
    margin: 0;
}

.chapterControls {
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

footer {
    position: fixed;
    height: 2rem;
    bottom: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    z-index: 1000;
}

footer span {
    background-color: var(--background);
}