<nav>
    <div class="logo">
        <img src="/img/favicon-32x32.png" alt="logo" />
        <div class="logoText" data-text="Eminent Reader"></div>
    </div>
    <div id="logoSpacer"></div>
</nav>

<div class="navMenu slide-in hidden">
    <div class="navMenuHeaderSpacer"></div>
    <canvas id="qr"></canvas>
    <div id="qrNote">To view this site on mobile, scan the QR code above, or go
        to <span id="siteUrl"></span> in your mobile browser.</div>
    <h2 class="homeLink"><a href="/" data-text="Home"></a></h2>
    <div class="settings">
        <h2 data-text="Settings"></h2>
        <h3 data-text="Theme"></h3>
        <form name="siteThemeForm" class="settingsItem siteTheme">
            <h4 data-text="Site Theme"></h4>
            <input type="radio" id="siteThemeLight"
                name="siteTheme" value="light">
            <label for="siteThemeLight" data-text="Light"></label>

            <input type="radio" id="siteThemeDark"
                name="siteTheme" value="dark">
            <label for="siteThemeDark" data-text="Dark"></label>

            <input type="radio" id="siteThemeUltraLight"
                name="siteTheme" value="ultraLight">
            <label for="siteThemeUltraLight" data-text="Ultra Light"></label>
            <input type="radio" id="siteThemeUltraDark"
                name="siteTheme" value="ultraDark">
            <label for="siteThemeUltraDark" data-text="Ultra Dark"></label>
        </form>
        <div class="settingsItem">
            <h4 data-text="Reader Theme"></h4>
            <dialog id="colorModal">
                <form name="colorForm" method="dialog">
                    <div id="colorPreview">
                        {% include "_snow.html" %}
                    </div>
                    <div id="modalColorInfo">
                        <p>
                            <ruby>
                                <span id="modalColorName"></span>
                                <rt id="modalColorReading"></rt>
                            </ruby>
                        </p>
                        <div id="modalColorSquare"></div>
                    </div>
                    <p>
                        <label>Apply Color:
                            <input type="radio" id="readerThemeForeground"
                                name="readerColors" value="--reader-foreground">
                            <label for="readerThemeForeground"
                                data-text="Foreground"></label>
                            <input type="radio" id="readerThemeBackground"
                                name="readerColors" value="--reader-background">
                            <label for="readerThemeBackground"
                                data-text="Background"></label>
                        </label>
                    </p>
                    <div class="modalControls">
                        <button value="cancel" data-text="Cancel"></button>
                        <button id="colorModalConfirm" value="default"
                            data-text="Confirm"></button>
                    </div>
                </form>
            </dialog>
            {% for category, colors in settings.readerColors %}
            <h5 data-text="{{category}}"></h5>
            <div class="colors">
                {% for name, color in colors %}
                {% if color | is_string %}
                <div class="color" style="background-color: {{color}};"
                    data-color="{{color}}" data-name="{{name}}">
                </div>
                {% else %}
                <div class="color" style="background-color: {{color.Value}};"
                    data-color="{{color.Value}}" data-name="{{name}}"
                    data-reading="{{color.Reading}}">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>