<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include "_head.html" %}
        <script src="webnovel.js" type="text/javascript" defer></script>
        <title>Eminent Reader</title>
    </head>
    <body>
        <!-- <label for="novelUrl">Enter a novel url to download</label> -->
        <div class="downloadSearchBar">
            <input type="search" id="novelUrl"
                placeholder="https://ncode.syosetu.com/n2834dj/" autofocus />
            <!-- <button class="downloadButton" onclick="DownloadWebnovel()">S</button> -->
        </div>

        <main>
            <div id="library">
                {% for novel in novels %}
                <div class="novelPanel">
                    <div class="novelPanelTitle"><a
                            href="/webnovel/{{novel.key}}">{{novel.title}}</a></div>
                    <div>全{{novel.chapters | toLocaleString}}部分</div>
                    <div>{{novel.characters | toLocaleString}}文字</div>
                    <div id="description{{loop.index}}"
                        class="novelPanelDescription truncateDescription">{{novel.description
                        |
                        trim}}</div>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>