<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include "_head.html" %}
        <script src="webnovel.js" type="text/javascript" defer></script>
        <title>Eminent Reader</title>
    </head>
    <body>
        <label for="novelUrl">Enter a novel url to download</label>
        <input type="text" id="novelUrl" />
        <button onclick="DownloadWebnovel()">Click Me</button>
        <main>
            <div id="library">
                <ul>
                    {% for novel in novels %}
                    <li>
                        <div><a href="/webnovel/{{novel.key}}">{{novel.title}}</a></div>
                        <div>Chapters: {{novel.chapters | toLocaleString}}</div>
                        <div>Characters: {{novel.characters | toLocaleString}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
    </body>
</html>