<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include "_head.html" %}
        <script src="/novel.js" type="text/javascript" defer></script>
        <script src="/navbar.js" defer></script>
        <title>{{metaData.title}}</title>
    </head>
    <body lang="ja">
        <header>
            {% include "_navbar.html" %}
        </header>
        <main>
            <h1>{{metaData.title}}</h1>
            <div class="author">Author: {{metaData.author}}</div>
            <div class="chapterCount">Chapters: {{metaData.chapters |
                toLocaleString}}</div>
            <div class="characterCount">Characters: {{metaData.characters |
                toLocaleString}}</div>
            <a href="{{metaData.url}}" class="url">{{metaData.url}}</a>

            <div class="userControls">
                <div class="categories">
                    <label for="novelCategory" class="sr-only">Category</label>
                    <select name="novelCategory" id="novelCategory">
                        <option value="unread">Unread</option>
                        <option value="reading">Reading</option>
                        <option value="want to read">Want to read</option>
                        <option value="finished">Finished</option>
                        <option value="dropped">Dropped</option>
                        <option value="on hold">On hold</option>
                    </select>
                </div>
                <div class="ratingWrapper">
                    <div class="rating">
                        <input type="radio" id="r5" name="rg1" value="5"
                            {{ metaData.rating | getRatingIsChecked(5) }}>
                        <label for="r5">★</label>
                        <input type="radio" id="r4" name="rg1" value="4"
                            {{ metaData.rating | getRatingIsChecked(4) }}>
                        <label for="r4">★</label>
                        <input type="radio" id="r3" name="rg1" value="3"
                            {{ metaData.rating | getRatingIsChecked(3) }}>
                        <label for="r3">★</label>
                        <input type="radio" id="r2" name="rg1" value="2"
                            {{ metaData.rating | getRatingIsChecked(2) }}>
                        <label for="r2">★</label>
                        <input type="radio" id="r1" name="rg1" value="1"
                            {{ metaData.rating | getRatingIsChecked(1) }}>
                        <label for="r1">★</label>
                    </div>
                </div>

                <div class="novelReview">
                    <label for="novelReviewInput">Brief Review <i
                            id="novelReviewTooltip" class="gg-info"></i></label>
                    <textarea id="novelReviewInput" name="novelReviewInput">{{metaData.review}}</textarea>
                    <button type="button" id="submitNovelReviewButton">Update
                        Review</button>
                </div>
            </div>

            <p class="description">{{metaData.description}}</p>

            <p class="chapters">
                {% for chapter in metaData.chapter_data %}
                <a href="/webnovel/{{metaData.key}}/{{chapter.chapter_number}}">第{{chapter.chapter_number}}話
                    - {{chapter.title}}</a>
                <br>
                {% endfor %}
            </p>
        </main>
    </body>
</html>